/* newsletter CSS to be forced inline before production */
/* premailer variables:
-premailer-width           Available on table, th and td elements
-premailer-height          Available on table, tr, th and td elements
-premailer-cellpadding     Available on table elements
-premailer-cellspacing     Available on table elements
data-premailer="ignore"    Available on link and style elements. Premailer will ignore these elements entirely.
*/
body {
  background-color: #f2f2f2;
  margin: 0; }

p {
  font-size: 13px; }

h2, h2 > a {
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: bold; }

p, p > a {
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal; }

h2, h2 > a, p.intro {
  line-height: 1.35; }

a > img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

.rwd-img img {
  display: block;
  height: auto !important;
  width: 100% !important; }

table.plain {
  border-collapse: collapse;
  border-spacing: 0;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%; }

.bodywidth {
  max-width: 640px; }

.header,
.social,
.footer {
  max-width: 640px;
  font-size: 0;
  overflow: hidden; }

td.header > table {
  -premailer-cellpadding: 8;
  -premailer-cellspacing: 0;
  -premailer-width: 100%; }

p.link2web,
p.link2web > a {
  color: #999999;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  text-decoration: none; }

table.logo a {
  color: #fff;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold; }

td.newsletter-title {
  color: #444444;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center; }

table.compact-title td.newsletter-title {
  font-size: 24px;
  font-weight: bold; }

td.newsletter-date,
td.newsletter-date > a {
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: .015em;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

td.newsletter-date {
  color: #cccccc; }

td.newsletter-date > a {
  color: #999999; }

td.item-container {
  background-color: #fcfcfc;
  border-top: 1px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  border-radius: 4px;
  font-size: 0;
  /* needed to ensure no extra whitespace */
  overflow: hidden; }

td.zone-container {
  background-color: #f2f2f2;
  font-size: 0;
  /* needed to ensure no extra whitespace */
  overflow: hidden; }

.zone {
  -premailer-width: 640px; }

.zone-left {
  background-color: #1330bf;
  font-size: 0;
  width: 12px; }

.zone-space {
  font-size: 0;
  width: 8px; }

.zone-title {
  color: #666666;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1; }

div.standard-text {
  background-color: #fcfcfc;
  margin: 0 !important;
  padding: 15px;
  text-align: left; }

.standard-text h2 {
  color: #1330bf;
  font-size: 19px;
  margin: 0 !important;
  padding: 0 0 6px 0; }

.standard-text h2 > a {
  color: #1330bf;
  font-size: 19px;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none; }

.standard-text p.byline {
  color: #999999;
  font-size: 12px;
  letter-spacing: .015em;
  margin: 0 !important;
  padding: 0 0 6px 0;
  text-transform: uppercase; }

.standard-text p.intro {
  color: #444444;
  font-size: 15px;
  margin: 0 !important;
  padding: 0px;
  text-decoration: none; }

table.item-text,
table.featured-text {
  border: 0;
  font-size: 0;
  margin: 0;
  width: 100%;
  -premailer-cellpadding: 15;
  -premailer-cellspacing: 0;
  -premailer-width: 100%; }

table.item-text > tr > td,
table.featured-text > tr > td {
  background-color: #fcfcfc;
  font-size: 0;
  margin: 0;
  width: 100%;
  -premailer-width: 100%; }

table.tb-content-type {
  -premailer-cellpadding: 8;
  -premailer-cellspacing: 0; }

td.text-content-type {
  background-color: #e9e9e9;
  color: #666666;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: .015em;
  line-height: 1;
  text-transform: uppercase; }

td.text-content-type-spacer {
  -premailer-width: 50%; }

table.item-text h2 {
  color: #1330bf;
  font-size: 19px;
  margin: 0 !important;
  padding: 0; }

table.item-text h2 > a {
  color: #1330bf;
  font-size: 19px;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none; }

table.item-text p.intro {
  color: #444444;
  font-size: 15px;
  margin: 0 !important;
  padding: 0px;
  text-decoration: none; }

table.bbg-direct-container {
  -premailer-cellpadding: 8;
  -premailer-cellspacing: 0; }

table.bbg-direct-container td {
  background-color: #1330bf; }

td.bbg-direct-img a {
  text-decoration: none; }
  td.bbg-direct-img a img {
    border: 0; }

td.bbg-direct-text > a {
  color: #fff;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: .015em;
  line-height: 1;
  text-decoration: none; }

table.byline tr td {
  color: #999999;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: .01em;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

/*
div.featured-text {
	margin: 0 !important;
	padding: 15px;
	text-align: left;
}
*/
td.article-title,
td.article-title > a {
  color: #1330bf;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none; }

.featured-text td.article-title,
.featured-text td.article-title > a {
  font-size: 24px;
  line-height: 1.35; }

.item-text td.article-title,
.item-text td.article-title > a {
  font-size: 19px;
  line-height: 1.15; }

/*
.featured-text h2 {
	color: $voablue;
	font-size: 24px;
	margin: 0 !important; 
	padding: 0 0 8px 0;
}

.featured-text td.article-title > a {
	color: $voablue;
	font-size: 24px;
	margin: 0 !important; 
	padding: 0 !important;
	text-decoration: none;
}

.featured-text p.byline {
	color: $gray;
	font-size: 13px;
	letter-spacing: .025em;
	margin: 0 !important;
	padding: 0 0 7px 0;
	text-transform: uppercase;
}
*/
td.intro {
  color: #444444;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0px;
  text-decoration: none; }

.featured-text td.intro {
  font-size: 17px;
  line-height: 1.35; }

.item-text td.intro {
  font-size: 15px;
  line-height: 1.35; }

.continue-btn {
  background-color: #fff;
  border: 1px solid #1330bf;
  border-radius: 4px;
  color: #1330bf;
  display: inline-block;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: .015em;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  -webkit-text-size-adjust: none;
  mso-hide: all; }

/*
table.continue {
	-premailer-cellpadding: 0;
	-premailer-cellspacing: 12px;
	-premailer-width: auto;
}

table.continue td {
	background-color: #fff;
	border: 2px solid $voablue;
	border-radius: 4px;
	//display: inline-block;
	font-family: $fontstack;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: .015em;
	line-height: 1;
	//margin-top: 16px;
	//padding: 12px 12px 8px 12px;
}

table.continue td > a {
	//background-color: #fff;
	//border: 2px solid $voablue;
	//border-radius: 4px;
	color: $voablue;
	//display: inline-block;
	font-family: $fontstack;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: .015em;
	line-height: 1;
	//margin-top: 16px;
	//padding: 12px 12px 8px 12px;
	text-decoration: none;
}
*/
/*
.continue {
	background: #fff;
	border: 2px solid $voablue;
	border-radius: 4px;
	color: $voablue;
	display: inline-block;
	font-family: $fontstack;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: .015em;
	line-height: 1;
	margin-top: 16px;
	padding: 12px 12px 8px 12px;
	text-decoration: none;
}
*/
.content-type {
  background-color: #e9e9e9;
  color: #666666;
  display: inline-block;
  font-size: 12px;
  letter-spacing: .015em;
  line-height: 1;
  margin: 0 0 12px 0;
  padding: 8px 8px 6px 8px;
  text-transform: uppercase; }

.bbg-direct {
  background: #1330bf;
  color: #fff;
  display: inline-block;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: .015em;
  line-height: 1;
  margin-top: 16px;
  padding: 9px 9px 7px 9px;
  text-decoration: none; }

.bbg-direct > img {
  border: 0;
  display: inline-block;
  margin-right: 9px;
  vertical-align: top; }

.fulltext-body > * {
  color: #444444;
  display: block;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.35;
  padding: 0;
  margin: 0 0 16px 0; }

.fulltext-body > div {
  color: #999999;
  float: right;
  font-size: 13px;
  margin-left: 12px;
  width: 268px; }

.fulltext-body > div > img {
  display: block;
  margin-bottom: 4px; }

td.social {
  background-color: #e9e9e9;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

table.social-cta td {
  color: #666666;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

table.social-icons td {
  -premailer-height: 44;
  -premailer-width: 44; }

table.social-icons td a {
  color: #1330bf;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: none; }

td.footer > table {
  -premailer-cellpadding: 8;
  -premailer-cellspacing: 0;
  -premailer-width: 100%; }

td.footer > table td {
  color: #666666;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  text-align: center; }

td.footer > table td > a {
  color: #1330bf;
  text-decoration: none; }

td.footer > table td.unsubscribe > a {
  color: #999999; }

/*# sourceMappingURL=premail.css.map */
