/* newsletter CSS to be forced inline before production */

$pagebg:    #f2f2f2;

$voablue:   #1330bf;

$offwhite:  #fcfcfc;
$vltgray:   #eeeeee;
$ltgray:    #999999;


body {
	background-color: $pagebg;
	margin: 0;
}


p { font-size: 13px; }


h2, h2 > a { font-family: sans-serif; font-weight: bold; }
p, p > a { font-family: sans-serif; font-weight: normal; }

h2, h2 > a, p.byline, p.intro { line-height: 1.35; }

.rwd-img img { 
	display: block;
	height: auto !important;
	width: 100% !important;
}

.bodywidth {
	max-width: 640px;
}


// header styles

.header {
	margin-top: 8px;
	margin-bottom: 8px;
	max-width: 640px;
}

p.link2web,
p.link2web > a {
	color: $ltgray;
	line-height: 1.35;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.logo {
	height: 30px;
	line-height: 1;
	margin: 0;
	padding: 8px 0;
}

h1.newsletter-title {
	color: #222;
	font-family: sans-serif;
	font-size: 3em;
	font-weight: normal;
	line-height: 1.35;
	margin: 0;
	padding: 0 16px;
}


// newsletter body

td.item-container {
	background-color: $offwhite;
	border-top:    1px solid $vltgray;
	border-bottom: 2px solid $vltgray;
	border-radius: 4px;
	font-size: 0; /* needed to ensure no extra whitespace */
	overflow: hidden;
}



div.standard-text {
	background-color: $offwhite;
	margin: 0 !important;
	padding: 15px;
	text-align: left;
}

.standard-text h2 {
	color: $voablue;
	font-size: 19px;
	margin: 0 !important; 
	padding: 0 0 6px 0;
}

.standard-text h2 > a {
	color: $voablue;
	font-size: 19px;
	margin: 0 !important; 
	padding: 0 !important;
	text-decoration: none;
}

.standard-text p.byline {
	color: $ltgray;
	font-size: 12px;
	letter-spacing: .015em;
	margin: 0 !important;
	padding: 0 0 6px 0;
	text-transform: uppercase;
}

.standard-text p.intro {
	color: #444;
	font-size: 15px;
	margin: 0 !important;
	padding: 0px;
	text-decoration: none;
}





div.featured-text {
	margin: 0 !important;
	padding: 15px;
	text-align: left;
}

.featured-text h2 {
	color: $voablue;
	font-size: 24px;
	margin: 0 !important; 
	padding: 0 0 8px 0;
}

.featured-text h2 > a {
	color: $voablue;
	font-size: 24px;
	margin: 0 !important; 
	padding: 0 !important;
	text-decoration: none;
}

.featured-text p.byline {
	color: $ltgray;
	font-size: 13px;
	letter-spacing: .025em;
	margin: 0 !important;
	padding: 0 0 7px 0;
	text-transform: uppercase;
}

.featured-text p.intro {
	color: #444;
	font-size: 17px;
	margin: 0 !important;
	padding: 0px;
	text-decoration: none;
}

.featured-text .continue {
	background: #fff;
	border: 2px solid $voablue;
	border-radius: 4px;
	color: $voablue;
	display: inline-block;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: .015em;
	line-height: 1;
	margin-top: 1em;
	padding: .75em .75em .5em .75em;
	text-decoration: none;
}
