/* newsletter CSS to be forced inline before production */

$pagebg:    #f2f2f2;

$voablue:   #1330bf;

$offwhite:  #fcfcfc;
$ultgray:   #eeeeee;
$vltgray:   #e9e9e9;
$ltgray:    #cccccc;
$gray:      #999999;
$midgray:   #666666;
$dkgray:    #444444;



body {
	background-color: $pagebg;
	margin: 0;
}

p { font-size: 13px; }

h2, h2 > a { font-family: sans-serif; font-weight: bold; }
p, p > a { font-family: sans-serif; font-weight: normal; }

h2, h2 > a, p.byline, p.intro { line-height: 1.35; }

.rwd-img img { 
	display: block;
	height: auto !important;
	width: 100% !important;
}

.bodywidth {
	max-width: 640px;
}


// header styles

.header,
.social,
.footer {
	margin-top: 8px;
	margin-bottom: 8px;
	max-width: 640px;
	font-size: 0;
	overflow: hidden;
}

p.link2web,
p.link2web > a {
	color: $gray;
	line-height: 1.35;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.logo {
	height: 30px;
	line-height: 1;
	margin: 0;
	padding: 8px 0;
}

h1.newsletter-title-standard,
h1.newsletter-title-fulltext {
	color: $dkgray;
	font-family: sans-serif;
	font-size: 3em;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 0 16px;
}

h1.newsletter-title-compact {
	color: $dkgray;
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 0 16px;
}

h2.newsletter-date {
	color: $ltgray;
	font-family: sans-serif;
	font-size: .9em;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 8px 16px;
	text-transform: uppercase;
}

h2.newsletter-date > a {
	color: $gray;
	font-weight: normal;
	text-decoration: none;
}


// newsletter body

td.item-container {
	background-color: $offwhite;
	border-top:    1px solid $ultgray;
	border-bottom: 2px solid $ultgray;
	border-radius: 4px;
	font-size: 0; /* needed to ensure no extra whitespace */
	overflow: hidden;
}



div.standard-text {
	background-color: $offwhite;
	margin: 0 !important;
	padding: 15px;
	text-align: left;
}

.standard-text h2 {
	color: $voablue;
	font-size: 19px;
	margin: 0 !important; 
	padding: 0 0 6px 0;
}

.standard-text h2 > a {
	color: $voablue;
	font-size: 19px;
	margin: 0 !important; 
	padding: 0 !important;
	text-decoration: none;
}

.standard-text p.byline {
	color: $gray;
	font-size: 12px;
	letter-spacing: .015em;
	margin: 0 !important;
	padding: 0 0 6px 0;
	text-transform: uppercase;
}

.standard-text p.intro {
	color: $dkgray;
	font-size: 15px;
	margin: 0 !important;
	padding: 0px;
	text-decoration: none;
}





div.featured-text {
	margin: 0 !important;
	padding: 15px;
	text-align: left;
}

.featured-text h2 {
	color: $voablue;
	font-size: 24px;
	margin: 0 !important; 
	padding: 0 0 8px 0;
}

.featured-text h2 > a {
	color: $voablue;
	font-size: 24px;
	margin: 0 !important; 
	padding: 0 !important;
	text-decoration: none;
}

.featured-text p.byline {
	color: $gray;
	font-size: 13px;
	letter-spacing: .025em;
	margin: 0 !important;
	padding: 0 0 7px 0;
	text-transform: uppercase;
}

.featured-text p.intro {
	color: $dkgray;
	font-size: 17px;
	margin: 0 !important;
	padding: 0px;
	text-decoration: none;
}

.continue {
	background: #fff;
	border: 2px solid $voablue;
	border-radius: 4px;
	color: $voablue;
	display: inline-block;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: .015em;
	line-height: 1;
	margin-top: 1em;
	padding: .75em .75em .5em .75em;
	text-decoration: none;
}

.content-type {
	background-color: $vltgray;
	color: $midgray;
	display: inline-block;
	font-size: 12px;
	letter-spacing: .015em;
	line-height: 1;
	margin: 0 0 .75em 0;
	padding: 8px 8px 6px 8px;
	text-transform: uppercase;
}

.bbg-direct {
	background: $voablue;
	color: #fff;
	display: inline-block;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: .015em;
	line-height: 1;
	margin-top: 1em;
	padding: 9px 9px 7px 9px;
	text-decoration: none;
}

.bbg-direct > img {
	border: 0;
	display: inline-block;
	margin-right: 9px;
	vertical-align: top;
}



.fulltext-body > * {
	color: $dkgray;
	display: block;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.35;
	padding: 0;
	margin: 0 0 1em 0;
}

.fulltext-body > div {
	color: $gray;
	float: right;
	font-size: 13px;
	margin-left: 12px;
	width: 268px;
}

.fulltext-body > div > img {
	display: block;
	margin-bottom: 4px;
}



.social {
	background-color: $vltgray;
	border-top: 1px solid $ltgray;
	border-bottom: 1px solid $ltgray;
}

.social-cta {
	color: $midgray;
	display: block;
	font-size: 15px;
	font-weight: 400;
	line-height: 1;
	margin: 0 0 8px 0;
	padding: 0;
	text-transform: uppercase;
}

.social-icons > a {
	color: $voablue;
	display: inline-block;
	font-size: 15px;
	line-height: 1;
	margin: 0 8px;
	padding: 0;
}

.social-icons > a > img {
	display: block;
	line-height: 1;
}



.footer > p {
	color: $midgray;
	font-size: 15px;
	font-weight: normal;
}

.footer > p > a {
	color: $voablue;
	text-decoration: none;
}

.footer > p.unsubscribe > a {
	color: $gray;
}
